.cardInfo {
  display: flex;
  flex-direction: column;
  margin: 100px 30px 25px;
  height: 580px;
  background: #ffffff;
  border: 1px solid #eeefff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header,
.inn,
.contractorType,
.phoneNumber,
.email,
.factAddress {
  display: flex;
  flex-direction: row;
  margin-left: 35px;
  margin-top: 25px;
}

.header {
  margin-top: 40px;
  margin-bottom: 20px;
}

.name {
  width: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}

.status {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 35px;
  float: right;
}

.status_delete {
  height: 24px;
  margin: 0px 21px;
  padding: 6px 12px;
  background: rgba(255, 0, 0, 0.2);
  border: 1px solid #ff0000;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.status_edi {
  height: 24px;
  padding: 6px 12px;
  background: rgba(217, 217, 217, 0.5);
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.parameter {
  width: 127px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.value {
  margin-left: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
