.cards {
  margin-top: 96px;
}

.card_counterparty {
  margin: 21px 25px;
  padding: 10px 16px;
  background: #ffffff;
  border: 1px solid #eeefff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

a{
  text-decoration: none;
  color: #1890ff;
}

a:visited {
  color: #1890ff;
}
