header {
  box-sizing: border-box;
  width: 100%;
  height: 75px;
  background: #ffffff;
  border: 1px solid #eeefff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
}

.name_sheet {
  margin: 21px 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}

.link_back {
  margin: 21px 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #1890ff;
  cursor: pointer
}
