.row_search {
  margin-left: auto;
  padding: 15px;
  padding-right: 25px;
}

input {
  width: 256px;
  height: 41px;
  background: #ffffff;
  border: 1px solid #eeefff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #aaaaaa;
}

input:focus {
  outline-color: #1890ff;
}

button {
  height: 43px;
  background: #1890ff;
  border: 1px solid rgba(24, 144, 255, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 14px;
  padding: 8px 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

button:hover {
  background: hsl(209, 100%, 47%);
  cursor: pointer;
}
